%titulos {
	font-family: $fuentePrincipal;
	color: $negro;
	font-size:2rem;
	margin-bottom: 20px;
}

%parrafos {
	font-family: $fuentePrincipal;
	color: $negro;
	font-size:1.2rem;
	margin-bottom: 10px;
}