.mixins {
	padding: 50px 0;
	background: $colorSass2;

	h2 {
		@extend %titulos;
		color: $blanco;
	}

	p {
		@extend %parrafos;
		color: $blanco;
	}

	a {
		@include botton(30px, 5px);
		background: $colorSass;
	}
}